/* GENERAL */

body {
    background-image: url(../img/heraklion.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#about {
    padding-top: 100px;
}

#portfolio {
    padding-top: 60px;
}
    
#experience,
#skills,
#contact {
    padding-top: 10px;
}

/* ABOUT */

#about img {
    border-radius: 10px;
    border: 7px solid #000;
    box-shadow: 0 0 75px #4582ec;
}

/* EXPERIENCES */

.img-circle {
    border-radius: 50%;
    height: 100%; 
    object-fit: contain; 
    width: 100%;
}

.img-circle:hover {
    cursor: pointer;
}

.img-circle:focus,
.img-circle:active {
    outline: 0;
}

.timeline {
    list-style: none;
    margin-top: 22px;    
    padding: 4px 0 0 0;
    position: relative;
}

.timeline>li:nth-child(even) {
    height: 180px;
    margin-bottom: 50px;
    position: relative;
    right: -100px;
}

.timeline>li:nth-child(odd) {
    left: -100px;
    height: 180px;
    margin-bottom: 50px;
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline>li .timeline-panel {
    float: left;
    padding: 0 20px 20px 30px;
    position: relative;
    text-align: right;
    width: 41%;
}

.timeline>li .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline>li .timeline-image {
    background-color: #000;
    border: 7px solid #000;
    border-radius: 100%;
    box-shadow: 0 0 75px #4582ec;
    height: 200px;
    left: 50%;
    margin-left: -100px;
    position: absolute;
    z-index: 100;
    width: 200px;
}

.timeline>li .timeline-image h4 {
    font-size: 10px;
    line-height: 14px;
    margin-top: 12px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 22px;
    padding: 0;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    color: #C5C4BF;
    margin-bottom: 0;
}

.timeline>li .timeline-image:hover{
    animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    -webkit-animation: spin 2s linear infinite;
}

@-webkit-keyframes spin{
    100% { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin{
    100% { -moz-transform: rotate(360deg); }
}

@keyframes spin{
    100% { transform: rotate(360deg); }
}

.timeline>li:nth-child(odd) .line:before {
    background-color: #000;
    bottom: 0;
    box-shadow: 0 0 5px #4582ec;
    content: "";
    height: 340px;
    left: 690px;
    position: absolute;
    top: 60px;
    width: 4px;

    transform: rotate(-44deg);
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
}

.timeline>li:nth-child(even) .line:before  {
    background-color: #000;
    bottom: 0;
    box-shadow: 0 0 5px #4582ec;
    content: "";
    height: 340px;
    left: 450px;
    position: absolute;
    top: 60px;
    width: 4px;

    transform: rotate(44deg);
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
}

/* PORTFOLIO */

.carousel-item {
    justify-content: center;
}

.carousel-img-container {
    position: relative;
}

.carousel-img {
    backface-visibility: hidden;
    border: 5px solid	#000;
    border-radius: 10px;
    box-shadow: 0 0 75px #4582ec;
    display: block;
    height: auto;
    margin: 50px 5px 50px 5px;
    max-height: 300px;
    max-width: 300px;
    opacity: 1;
    transition: .5s ease;
    width: 100%;
}

.carousel-img:hover{
    cursor: pointer;
}

.carousel-caption {
    bottom: initial;
    opacity: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s ease;
}

.project-title {
    font-size: 2em;
    font-variant: small-caps;
    font-weight: bold;
}

.carousel-img-container:hover .carousel-img {
    opacity: 0.3;
}

.carousel-img-container:hover .carousel-caption {
    opacity: 1;
}

/* SKILLS */

#skill-icons {
    font-size: 3em;
    color: #1277D4;
    font-family: "Arial Black", Gadget, sans-serif;
}

#skill-icons a:hover {
    cursor: pointer;
    color: #094E89;
    text-decoration: none;
}

/* CONTACT */

#contact a {
    font-size: 3em;
    margin: 0 5px;
}

/* FOOTER */

#copy{
    font-size: small;
}

/* MODALS */

.experienceModal{
    color: #000;
    font-weight: bold;
}

.experienceModal .modal-body{
    background-position: center;
    background-size: cover;
}

#theTechAcademyModal .modal-body{
    background-image: url(../img/techacademyTransparent.jpg);
}

#wilridgeModal .modal-body{
    background-image: url(../img/wilridgeTransparent.jpg);
}

#schillingModal .modal-body{
    background-image: url(../img/schillingTransparent.jpg);
}

#consultantModal .modal-body{
    background-image: url(../img/consultantTransparent.jpg);
}

#shawnModal .modal-body{
    background-image: url(../img/shawnTransparent.jpg);
}

#bewanderModal .modal-body{
    background-image: url(../img/bewander.jpg);
}

/* MEDIA BREAKS */

@media (min-width: 992px) and (max-width: 1199px) {
    
    .timeline > li:nth-child(even) {
        margin-bottom: 0px;
        min-height: 0px;
        right: 0px;
    }
    
    .timeline > li:nth-child(odd) {
        left: 0px;
        margin-bottom: 0px;
        min-height: 0px;
    }
    
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0px;
    }
    
    .timeline>li:nth-child(odd) .timeline-image {
        left: 690px;
        margin-left: 0px;
    }
    
    .timeline>li:nth-child(even) .timeline-panel {
        padding: 0 0 20px 0px;
        text-align: left;
        width: 76%;
    }
    
    .timeline>li:nth-child(odd) .timeline-panel {
        padding: 0 0 20px 0px;
        text-align: right;
        width: 70%;
    }
    
    .timeline>li .line {
        display: none;
    }
    
}

@media (min-width: 768px) and (max-width: 991px) {
    
    .timeline>li:nth-child(even) {
        margin-bottom: 97px;
        min-height: 0px;
        right: 0px;
    }
    
    .timeline>li:nth-child(odd) {
        left: 0px;
        margin-bottom: 97px;
        min-height: 0px;
    }
    
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0px;
    }
    
    .timeline>li:nth-child(odd) .timeline-image {
        left: 520px;
        margin-left: 0px;
    }
    
    .timeline>li:nth-child(even) .timeline-panel {
        padding: 0 0 20px 0px;
        text-align: left;
        width: 70%;
    }
    
    .timeline>li:nth-child(odd) .timeline-panel {
        padding: 0 0 20px 0px;
        text-align: right;
        width: 70%;
    }
    
    .timeline>li .line {
        display: none;
    }
    
}

@media only screen and (max-width: 767px) {
    
    .timeline>li:nth-child(even) {
        margin-bottom: 97px;
        min-height: 0px;
        right: 0px;
    }
    .timeline>li:nth-child(odd) {
        left: 0px;
        margin-bottom: 97px;
        min-height: 0px;
    }
    .timeline>li .timeline-image {
        height: 150px;
        margin-bottom:0px;
        position: static;
        width: 150px;
    }
    .timeline>li:nth-child(even) .timeline-image {
        left: 0;
        margin-left: 0;
    }
    .timeline>li:nth-child(odd) .timeline-image {
        float:right;
        left: 0px;
        margin-left:0;
    }
    .timeline>li:nth-child(even) .timeline-panel {
        padding: 0 0 20px 14px;
        width: 100%;
    }
    .timeline>li:nth-child(odd) .timeline-panel {
        padding: 0 14px 20px 0px;
        width: 100%;
    }
    .timeline>li .line {
        display: none;
    }
    
}